ConsoleApp1/Connected Services/Mobile/MobileWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ExcuteService">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="data" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExcuteServiceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExcuteServiceResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExcuteServiceForCom">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="data" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExcuteServiceForComResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExcuteServiceForComResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ExcuteServiceSoapIn">
    <wsdl:part name="parameters" element="tns:ExcuteService" />
  </wsdl:message>
  <wsdl:message name="ExcuteServiceSoapOut">
    <wsdl:part name="parameters" element="tns:ExcuteServiceResponse" />
  </wsdl:message>
  <wsdl:message name="ExcuteServiceForComSoapIn">
    <wsdl:part name="parameters" element="tns:ExcuteServiceForCom" />
  </wsdl:message>
  <wsdl:message name="ExcuteServiceForComSoapOut">
    <wsdl:part name="parameters" element="tns:ExcuteServiceForComResponse" />
  </wsdl:message>
  <wsdl:portType name="MobileWebServiceSoap">
    <wsdl:operation name="ExcuteService">
      <wsdl:input message="tns:ExcuteServiceSoapIn" />
      <wsdl:output message="tns:ExcuteServiceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExcuteServiceForCom">
      <wsdl:input message="tns:ExcuteServiceForComSoapIn" />
      <wsdl:output message="tns:ExcuteServiceForComSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MobileWebServiceSoap" type="tns:MobileWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ExcuteService">
      <soap:operation soapAction="http://tempuri.org/ExcuteService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExcuteServiceForCom">
      <soap:operation soapAction="http://tempuri.org/ExcuteServiceForCom" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MobileWebServiceSoap12" type="tns:MobileWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ExcuteService">
      <soap12:operation soapAction="http://tempuri.org/ExcuteService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExcuteServiceForCom">
      <soap12:operation soapAction="http://tempuri.org/ExcuteServiceForCom" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MobileWebService">
    <wsdl:port name="MobileWebServiceSoap" binding="tns:MobileWebServiceSoap">
      <soap:address location="http://localhost:8938/MobileWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="MobileWebServiceSoap12" binding="tns:MobileWebServiceSoap12">
      <soap12:address location="http://localhost:8938/MobileWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>